Repository julkascript/cardflow, pull requests merged in 2024-06, with the labels that each got.

#109 Fix all time best sellers cards
  backend/yugioh/serializers.py
  backend/yugioh/urls.py
  backend/yugioh/views.py
Labels: bug, backend

#110 Download and Save images locally
  backend/cart/tests/test_shopping_cart.py
  backend/yugioh/management/commands/img_download.py
  backend/yugioh/serializers.py
  backend/yugioh/utils.py
Labels: backend

#121 Fix issues with the changelog
  frontend/src/components/about/ChangelogList.tsx
  frontend/src/constants/changelogArchive.ts
  frontend/src/pages/about/Changelog.tsx
Labels: bug, frontend

#118 Add labels to the price and quantity fields on the listing pages
  frontend/src/components/sellListing/ListingForm.tsx
Labels: frontend

#127 Order rules
  backend/crontab
  backend/order/management/commands/update_stale_orders.py
Labels: backend
