Repository julkascript/cardflow, pull requests merged in 2024-07, with the labels that each got.

#125 Stats tracker Backend and Frontend
  backend/accounts/serializers.py
  backend/accounts/views.py
  frontend/src/components/profile/ProfilePublicData.tsx
  frontend/src/components/profile/profileMarketActivity/ProfileMarketActivity.tsx
  frontend/src/pages/profile/ProfilePublicInfoPage.tsx
  frontend/src/router/loadPublicUserInfo/loadPublicUserInfo.spec.ts
  frontend/src/services/user/types.ts
Labels: backend, frontend

#135 Dynamic currency
  backend/accounts/admin.py
  backend/accounts/migrations/0002_user_currency_preference.py
  backend/accounts/models.py
  backend/accounts/serializers.py
  backend/listing/serializers.py
  backend/listing/views.py
  backend/yugioh/serializers.py
  backend/yugioh/views.py
Labels: backend

#137 Introduce dynamic currencies to the front end
  frontend/src/components/orders/OrdersTableRow.tsx
  frontend/src/components/orders/ordersModal/OrdersModal.tsx
  frontend/src/components/profile/profileSettings/DefaultCurrencySettings.tsx
  frontend/src/components/sellListing/ListingForm.tsx
  frontend/src/components/shoppingCart/CheckoutData.tsx
  frontend/src/components/shoppingCart/ShoppingCartCheckout.tsx
  frontend/src/components/shoppingCart/ShoppingCartSummary.tsx
  frontend/src/components/shoppingCart/SummaryData.tsx
  frontend/src/components/yugioh/table/YugiohCardDetailsTable.tsx
  frontend/src/components/yugioh/table/market/YugiohCardMarketTableCell.tsx
  frontend/src/constants/currencies.ts
  frontend/src/constants/toast.ts
  frontend/src/context/user.tsx
  frontend/src/pages/profile/ProfileSettingsPage.tsx
  frontend/src/pages/yugioh/SellManagement.tsx
  frontend/src/services/user/types.ts
  frontend/src/translations/bg/account.json
  frontend/src/translations/bg/common.json
  frontend/src/translations/bg/toast.json
  frontend/src/translations/en/account.json
  frontend/src/translations/en/common.json
  frontend/src/translations/en/toast.json
  frontend/src/util/useCurrency.ts
Labels: frontend

#142 Make conversions precise, fix shopping cart currency bug
  backend/cart/models.py
  backend/listing/serializers.py
  backend/yugioh/serializers.py
  frontend/src/components/shoppingCart/ShoppingCartCheckout.tsx
  frontend/src/components/shoppingCart/ShoppingCartSummary.tsx
  frontend/src/translations/bg/buy.json
Labels: bug

#138 Disable "Not received" when ten days haven't passed on the front end
  frontend/src/components/orders/OrdersTableRow.tsx
  frontend/src/components/orders/ordersModal/OrdersModal.spec.tsx
  frontend/src/components/orders/ordersModal/OrdersModal.tsx
Labels: frontend, testing

#150 Adjust order modal sequence and split off some of the layout
  frontend/src/components/orders/ordersModal/OrdersModal.tsx
  frontend/src/components/orders/ordersModal/layout/OrderModalPurchases.tsx
  frontend/src/components/orders/ordersModal/layout/OrdersModalHeader.tsx
  frontend/src/components/orders/ordersModal/layout/OrdersModalUsernameLink.tsx
  frontend/src/translations/bg/account.json
Labels: frontend

#160 Implement user search
  backend/accounts/serializers.py
  backend/accounts/urls.py
  backend/accounts/views.py
Labels: backend

#161 Implement trade checkbox on the frontend
  frontend/src/components/sellListing/ListingForm.tsx
  frontend/src/services/yugioh/types.ts
  frontend/src/services/yugioh/yugiohService.spec.ts
  frontend/src/translations/bg/sell.json
  frontend/src/translations/en/sell.json
Labels: frontend
