Repository julkascript/cardflow, pull requests merged in 2024-08, with the labels that each got.

#162 Implement user search on the frontend
  frontend/src/components/navigation/mobile/menus/MobileLoggedInNav.tsx
  frontend/src/components/navigation/profilePictureAvatar/ProfilePictureAvatar.tsx
  frontend/src/components/profile/userSearch/UserSearchResultRow.tsx
  frontend/src/constants/api.ts
  frontend/src/pages/profile/SearchUsers.tsx
  frontend/src/router/Router.tsx
  frontend/src/services/user/types.ts
  frontend/src/services/user/user.ts
  frontend/src/translations/bg/account.json
  frontend/src/translations/bg/common.json
  frontend/src/translations/en/account.json
  frontend/src/translations/en/common.json
Labels: frontend

#163 Show full rarity name of listings
  frontend/src/components/sellListing/ListingForm.tsx
Labels: enhancement, frontend

#168 Implement trade modal on the frontend + a few changes to the backend
  backend/accounts/serializers.py
  backend/listing/filters.py
  backend/trade/serializers.py
  backend/trade/urls.py
  backend/trade/views.py
  frontend/src/components/profile/userSearch/UserSearchResultRow.tsx
  frontend/src/components/profile/userSearch/UserSearchTradeButton.tsx
  frontend/src/components/trade/modal/TradeModal.tsx
  frontend/src/components/trade/modal/section/TradeModalSection.tsx
  frontend/src/components/trade/modal/section/elements/TradeCash.tsx
  frontend/src/components/trade/modal/section/elements/TradeEmptyBox.tsx
  frontend/src/components/trade/modal/section/elements/TradeListingImage.tsx
  frontend/src/components/trade/modal/section/elements/TradeModalBox.tsx
  frontend/src/components/trade/modal/section/elements/TradeModalSearch.tsx
  frontend/src/components/trade/modal/section/elements/TradeStatusBadge.tsx
  frontend/src/components/trade/modal/section/elements/buttons/AcceptButton.tsx
  frontend/src/components/trade/modal/section/elements/buttons/ButtonProps.ts
  frontend/src/components/trade/modal/section/elements/buttons/DeclineButton.tsx
  frontend/src/components/trade/modal/section/elements/buttons/RequestButton.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/toast.ts
  frontend/src/constants/tradeStatus.ts
  frontend/src/context/trade.tsx
  frontend/src/pages/trade/TradeDetails.tsx
  frontend/src/router/Router.tsx
  frontend/src/services/trade/trade.ts
  frontend/src/services/trade/types.ts
  frontend/src/services/yugioh/yugiohService.ts
  frontend/src/translations/bg/toast.json
  frontend/src/translations/bg/trade.json
  frontend/src/translations/en/toast.json
  frontend/src/translations/en/trade.json
  frontend/src/util/offersAreTheSame.ts
Labels: backend, frontend

#169 Implement "My Trades" on the frontend
  frontend/src/components/cardflowTabs/CardflowTabs.tsx
  frontend/src/components/sellListing/ListingForm.tsx
  frontend/src/components/tableActionsMenu/TableActionsMenu.tsx
  frontend/src/constants/toast.ts
  frontend/src/pages/Search.tsx
  frontend/src/pages/about/About.tsx
  frontend/src/pages/about/Changelog.tsx
  frontend/src/pages/about/Contact.tsx
  frontend/src/pages/about/FAQ.tsx
  frontend/src/pages/listing/Listing.tsx
  frontend/src/pages/listing/NewListing.tsx
  frontend/src/pages/profile/Orders.tsx
  frontend/src/pages/profile/Sales.tsx
  frontend/src/pages/profile/SearchUsers.tsx
  frontend/src/pages/trade/MyTrades.tsx
  frontend/src/pages/yugioh/BestSellers.tsx
  frontend/src/pages/yugioh/SellManagement.tsx
  frontend/src/router/Router.tsx
  frontend/src/services/trade/trade.ts
  frontend/src/translations/bg/toast.json
  frontend/src/translations/bg/trade.json
  frontend/src/translations/en/toast.json
  frontend/src/translations/en/trade.json
  frontend/src/util/useSelect/useSelect.spec.ts
  frontend/src/util/useSelect/useSelect.ts
Labels: frontend, testing

#172 Update FAQ
  frontend/src/constants/faq.tsx
  frontend/src/translations/bg/about.json
  frontend/src/translations/en/about.json
Labels: frontend

#170 Implement account listings page on the frontend
  backend/accounts/views.py
  frontend/src/components/profile/ProfileNavigation.tsx
  frontend/src/components/profile/accountListingsSearch/AccountListingsSearchResultRow.tsx
  frontend/src/pages/profile/AccountListings.tsx
  frontend/src/router/Router.tsx
  frontend/src/router/loadPublicUserInfo/loadPublicUserInfo.spec.ts
  frontend/src/services/user/types.ts
  frontend/src/services/yugioh/yugiohService.ts
  frontend/src/translations/bg/account.json
  frontend/src/translations/bg/common.json
  frontend/src/translations/en/account.json
  frontend/src/translations/en/common.json
Labels: frontend
