Repository julkascript/cardflow, pull requests merged in 2025-01, with the labels that each got.

#183 Clear search in trade modal after selecting a listing
  frontend/src/components/trade/modal/section/elements/TradeModalSearch.tsx
Labels: frontend

#182 Integrate missing features regarding system messages on the frontend
  frontend/src/pages/trade/TradeDetails.tsx
Labels: frontend

#186 Add Phone Num and Names for shipment
  backend/cart/serializers.py
  backend/cart/tests/test_shopping_cart.py
  backend/cart/views.py
  backend/order/migrations/0005_order_names_order_phone_number.py
  backend/order/models.py
  backend/order/serializers.py
  frontend/src/components/orders/ordersModal/OrdersModal.spec.tsx
  frontend/src/components/orders/ordersModal/OrdersModal.tsx
  frontend/src/components/shoppingCart/ShoppingCartSummary.tsx
  frontend/src/pages/Cart.tsx
  frontend/src/services/orders/types.ts
  frontend/src/services/shoppingCart/types.ts
  frontend/src/translations/bg/buy.json
  frontend/src/translations/en/buy.json
Labels: enhancement, backend, frontend

#187 Fix issue with first search item's clickability
  frontend/src/components/searchField/SearchResultsDisplay.tsx
Labels: bug, frontend
